<article>
	<ul>
		<% @peeps.each do |peep| %>
			<li class="peep">
				<h1><%= peep.content %></h1>
				<p>Posted by <%= peep.user.username %> (<%= peep.user.name %>) on <%= peep.timestamp %></p>
				<% @replies = Reply.all(:peep_id => peep.id) %>
				<% if @replies %>
					<% @replies.each do |reply| %>
					<h2><%= reply.content %></h2>
					<p>Posted by <%= reply.user.username %> on <%= reply.timestamp %></p>
					<% end %>
				<% end %>
				<% if current_user %>
					<p>
						<form action="peeps/reply" method="post">Want to reply?
						<input type="text" name="reply">
						<input type="submit" value="Shoot">
						<input type="hidden" name="peep_id" value="<%=peep.id %>">
						</form>
					</p>
				<% end %>
			</li>
		<% end %>
	</ul>
</article>